html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap .content {
  background-image: url("image/exploreBg.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 855px;
  position: relative;
  max-width: 1920px; }
  .wrap .content .tea {
    position: absolute;
    background-image: url("image/animate2.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 254px;
    height: 242px;
    left: 385px;
    top: 352px;
    -webkit-animation: teaFlow 2s infinite step-end;
    animation: teaFlow 2s infinite step-end; }
